### Processor
* VOC_duration : 1min
* Wash_Out : 8min

### Sensors
+ TGS : TGS2600, TGS2602, TGS2603, TGS2610, TGS2620
+ MQ : MQ2, MQ3, MQ4, MQ5, MQ6, MQ7, MQ8, MQ9, MQ135

### VOC
1. DPG ( 10%) + DPG (100%)
2. Actetic (10%) + DPG (99%)
3. Benzaldehyde (10%) + DPG (99%)
4. Keras (10%) + DPG (99%)

In [1]:
# ! pip install pymysql

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import pymysql
import matplotlib.pyplot as plt
# import config
import datetime, time
import os
from tqdm import tqdm

import warnings
warnings.filterwarnings(action='ignore')

In [3]:
def createDirectory(directory):
    try:
        if not os.path.exists(directory):
            os.makedirs(directory)
    except OSError:
        print("Error: Failed to create the directory.")

In [4]:
# plot_style = plt.style.available
# plt.style.use('ggplot')
# plt.style.use('default')
# plt.style.use('fivethirtyeight')
# plt.style.use('seaborn-paper')
# plt.style.use('seaborn-muted')

In [5]:
current_path = os.getcwd()
current_path

'/home/jupyter/hdd/pattern_recongnition/Drug_Identification'

In [6]:
df_TGS = pd.read_csv('TGS_data.csv')
df_TGS

,Unnamed: 0.1,Unnamed: 0,TGS2600,TGS2602,TGS2603,TGS2620,TGS2610,TGS822,UNIXSTAMP
0,0,0,0.000000,0.283631,0.000000,0.000000,0.000000,0.000000,1.683430e+09
1,1,1,0.000000,0.000000,0.754354,0.000000,0.000000,0.000000,1.683430e+09
2,2,2,0.000000,0.000000,0.000000,0.000000,0.831280,0.000000,1.683430e+09
3,3,3,0.000000,0.000000,0.000000,0.000000,0.000000,0.393873,1.683430e+09
4,4,4,0.000000,0.000000,0.000000,0.978842,0.000000,0.000000,1.683430e+09
...,...,...,...,...,...,...,...,...,...
1189533,1189533,1189533,0.000000,0.000000,0.000000,1.019189,0.000000,0.000000,1.683829e+09
1189534,1189534,1189534,0.000000,0.000000,0.712445,0.000000,0.000000,0.000000,1.683829e+09
1189535,1189535,1189535,0.924886,0.000000,0.000000,0.000000,0.000000,0.000000,1.683829e+09
1189536,1189536,1189536,0.000000,0.380066,0.000000,0.000000,0.000000,0.000000,1.683829e+09
1189537,1189537,1189537,0.000000,0.000000,0.000000,0.000000,0.933691,0.000000,1.683829e+09

In [7]:
df_TGS.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1189538 entries, 0 to 1189537
Data columns (total 9 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   Unnamed: 0.1  1189538 non-null  int64
 1   Unnamed: 0    1189538 non-null  int64
 2   TGS2600       1189538 non-null  float64
 3   TGS2602       1189538 non-null  float64
 4   TGS2603       1189538 non-null  float64
 5   TGS2620       1189538 non-null  float64
 6   TGS2610       1189538 non-null  float64
 7   TGS822        1189538 non-null  float64
 8   UNIXSTAMP     1189538 non-null  float64
dtypes: float64(7), int64(2)
memory usage: 81.7 MB

In [8]:
df_Valve = pd.read_csv('Valve_data.csv')
df_Valve

      Unnamed: 0.1  Unnamed: 0  VALVE  STEP  FAN    TIMESTAMP     UNIXSTAMP
0                0           0    0.0   0.0  0.0   43403161.0  1.683431e+09
1                1           1    0.0   1.0  1.0   43463702.0  1.683431e+09
2                2           2    1.0   0.0  0.0   43944548.0  1.683431e+09
3                3           3    1.0   1.0  1.0   44005675.0  1.683431e+09
4                4           4    2.0   0.0  0.0   44486332.0  1.683432e+09
...            ...         ...    ...   ...  ...          ...           ...
1455          1455        1455    1.0   0.0  0.0  441309568.0  1.683828e+09
1456          1456        1456    1.0   1.0  1.0  441370279.0  1.683828e+09
1457          1457        1457    2.0   0.0  0.0  441851149.0  1.683829e+09
1458          1458        1458    2.0   1.0  1.0  441911952.0  1.683829e+09
1459          1459        1459    3.0   0.0  0.0  442392601.0  1.683829e+09

[1460 rows x 7 columns]

## Check for DATA Integrity

In [9]:
drop_law = []
for i in range(0, len(df_Valve)-1):
    if ((df_Valve.iloc[i]['VALVE'] != df_Valve.iloc[i+1]['VALVE']) & (df_Valve.iloc[i]['STEP'] == df_Valve.iloc[i+1]['STEP'])):
        drop_law.append(i)
drop_law

[1364]

In [10]:
df_Valve

      Unnamed: 0.1  Unnamed: 0  VALVE  STEP  FAN    TIMESTAMP     UNIXSTAMP
0                0           0    0.0   0.0  0.0   43403161.0  1.683431e+09
1                1           1    0.0   1.0  1.0   43463702.0  1.683431e+09
2                2           2    1.0   0.0  0.0   43944548.0  1.683431e+09
3                3           3    1.0   1.0  1.0   44005675.0  1.683431e+09
4                4           4    2.0   0.0  0.0   44486332.0  1.683432e+09
...            ...         ...    ...   ...  ...          ...           ...
1455          1455        1455    1.0   0.0  0.0  441309568.0  1.683828e+09
1456          1456        1456    1.0   1.0  1.0  441370279.0  1.683828e+09
1457          1457        1457    2.0   0.0  0.0  441851149.0  1.683829e+09
1458          1458        1458    2.0   1.0  1.0  441911952.0  1.683829e+09
1459          1459        1459    3.0   0.0  0.0  442392601.0  1.683829e+09

[1460 rows x 7 columns]

In [11]:
df_Valve = df_Valve.drop(index=drop_law)
df_Valve = df_Valve.reset_index()
df_Valve

,index,Unnamed: 0.1,Unnamed: 0,VALVE,STEP,FAN,TIMESTAMP,UNIXSTAMP
0,0,0,0,0.0,0.0,0.0,43403161.0,1.683431e+09
1,1,1,1,0.0,1.0,1.0,43463702.0,1.683431e+09
2,2,2,2,1.0,0.0,0.0,43944548.0,1.683431e+09
3,3,3,3,1.0,1.0,1.0,44005675.0,1.683431e+09
4,4,4,4,2.0,0.0,0.0,44486332.0,1.683432e+09
...,...,...,...,...,...,...,...,...
1454,1455,1455,1455,1.0,0.0,0.0,441309568.0,1.683828e+09
1455,1456,1456,1456,1.0,1.0,1.0,441370279.0,1.683828e+09
1456,1457,1457,1457,2.0,0.0,0.0,441851149.0,1.683829e+09
1457,1458,1458,1458,2.0,1.0,1.0,441911952.0,1.683829e+09
1458,1459,1459,1459,3.0,0.0,0.0,442392601.0,1.683829e+09

In [12]:
df_Valve['Start_cycle'] = df_Valve['UNIXSTAMP']
df_Valve['Fan_on'] = df_Valve['UNIXSTAMP'].shift(-1)
df_Valve['End_cycle'] = df_Valve['UNIXSTAMP'].shift(-2)
df_Valve = df_Valve[:-2]
df_Valve

,index,Unnamed: 0.1,Unnamed: 0,VALVE,STEP,FAN,TIMESTAMP,UNIXSTAMP,Start_cycle,Fan_on,End_cycle
0,0,0,0,0.0,0.0,0.0,43403161.0,1.683431e+09,1.683431e+09,1.683431e+09,1.683431e+09
1,1,1,1,0.0,1.0,1.0,43463702.0,1.683431e+09,1.683431e+09,1.683431e+09,1.683431e+09
2,2,2,2,1.0,0.0,0.0,43944548.0,1.683431e+09,1.683431e+09,1.683431e+09,1.683432e+09
3,3,3,3,1.0,1.0,1.0,44005675.0,1.683431e+09,1.683431e+09,1.683432e+09,1.683432e+09
4,4,4,4,2.0,0.0,0.0,44486332.0,1.683432e+09,1.683432e+09,1.683432e+09,1.683432e+09
...,...,...,...,...,...,...,...,...,...,...,...
1452,1453,1453,1453,0.0,0.0,0.0,440767273.0,1.683828e+09,1.683828e+09,1.683828e+09,1.683828e+09
1453,1454,1454,1454,0.0,1.0,1.0,440828478.0,1.683828e+09,1.683828e+09,1.683828e+09,1.683828e+09
1454,1455,1455,1455,1.0,0.0,0.0,441309568.0,1.683828e+09,1.683828e+09,1.683828e+09,1.683829e+09
1455,1456,1456,1456,1.0,1.0,1.0,441370279.0,1.683828e+09,1.683828e+09,1.683829e+09,1.683829e+09
1456,1457,1457,1457,2.0,0.0,0.0,441851149.0,1.683829e+09,1.683829e+09,1.683829e+09,1.683829e+09

In [13]:
df_valve_edit = pd.DataFrame()
for i in range(0, len(df_Valve)-1):
    if ((df_Valve.iloc[i]['VALVE'] == df_Valve.iloc[i+1]['VALVE'])):
#     if (((i % 2) == 0) & (df_Valve.iloc[i]['VALVE'] != df_Valve.iloc[i+1]['VALVE'])):
#         print(i)
        df_valve_edit = df_valve_edit.append(df_Valve.loc[i])
df_valve_edit

,index,Unnamed: 0.1,Unnamed: 0,VALVE,STEP,FAN,TIMESTAMP,UNIXSTAMP,Start_cycle,Fan_on,End_cycle
0,0.0,0.0,0.0,0.0,0.0,0.0,43403161.0,1.683431e+09,1.683431e+09,1.683431e+09,1.683431e+09
2,2.0,2.0,2.0,1.0,0.0,0.0,43944548.0,1.683431e+09,1.683431e+09,1.683431e+09,1.683432e+09
4,4.0,4.0,4.0,2.0,0.0,0.0,44486332.0,1.683432e+09,1.683432e+09,1.683432e+09,1.683432e+09
6,6.0,6.0,6.0,3.0,0.0,0.0,45027613.0,1.683432e+09,1.683432e+09,1.683432e+09,1.683433e+09
8,8.0,8.0,8.0,0.0,0.0,0.0,45569088.0,1.683433e+09,1.683433e+09,1.683433e+09,1.683433e+09
...,...,...,...,...,...,...,...,...,...,...,...
1446,1447.0,1447.0,1447.0,1.0,0.0,0.0,439142368.0,1.683826e+09,1.683826e+09,1.683826e+09,1.683827e+09
1448,1449.0,1449.0,1449.0,2.0,0.0,0.0,439683965.0,1.683827e+09,1.683827e+09,1.683827e+09,1.683827e+09
1450,1451.0,1451.0,1451.0,3.0,0.0,0.0,440225463.0,1.683827e+09,1.683827e+09,1.683827e+09,1.683828e+09
1452,1453.0,1453.0,1453.0,0.0,0.0,0.0,440767273.0,1.683828e+09,1.683828e+09,1.683828e+09,1.683828e+09
1454,1455.0,1455.0,1455.0,1.0,0.0,0.0,441309568.0,1.683828e+09,1.683828e+09,1.683828e+09,1.683829e+09

In [14]:
Condition = {
    0:'DPG',
    1:'Acetic',
    2:'Benzaldehyde',
    3:'Keras',
}

In [15]:
sensors = ['TGS2600', 
           'TGS2602', 
           'TGS2603',
           'TGS2620',
           'TGS2610']

In [16]:
duration = 9 #13min

In [18]:
for i in tqdm(range(len(df_valve_edit))):
    for minute in range(duration):
        df_temp = df_TGS[(df_TGS['UNIXSTAMP'] > df_valve_edit.iloc[i]['Start_cycle']) & 
                         (df_TGS['UNIXSTAMP'] < df_valve_edit.iloc[i]['Start_cycle']+(minute+1)*60)]
        createDirectory('data/'+str(minute+1)+'min')
        
        path = current_path + '/' + 'data/' + str(minute+1)+'min/'
        file_name = Condition[df_valve_edit.iloc[i]['VALVE']]+'_'+str(minute+1)+'min_' + str(int(i/len(Condition))+1)
        
        plt.figure(figsize=(5,5))
        for idx, sensor in enumerate(sensors):
            df_temp_temp = df_temp[df_temp[sensor] != 0][[sensor, 'UNIXSTAMP']]
#             print()
#             print(df_temp_temp)
            try:
                df_temp_temp = df_temp_temp/df_temp_temp.iloc[0][sensor]
            except IndexError as e:
                print(df_temp_temp)
                print(e)
                print()
            plt.plot(df_temp_temp.index, df_temp_temp[sensor], linewidth=2)
        plt.ylim(0,3)
        plt.axis('off')
#         plt.title(file_name)
        plt.savefig(path+file_name, dpi=200)